.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px; 
}

.slides {
    display: flex;
    transition: 1s;
}

.slide {
    min-width: 100%;
    flex: 0 0 auto;
}

.indicators {
    position: absolute;
    bottom: 15px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator {
    width: 20px;
    height: 20px;
    background-color: rgb(180, 180, 180);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator:hover {
    background-color: #805E34;
}

.indicator.active {
    background-color: #553815;
}